// COMPONENTES
@import './componentes/homepage.scss';
@import './componentes/proyects.scss';
@import './componentes/aboutme.scss';
@import './componentes/titlepage.scss';
@import './componentes/navbar.scss';
@import './componentes/proyectcard.scss';
@import './componentes/socialMedia';

// Media query
@import './mediaquery/mediaHomepage';