@import "./imports.scss";

*{
    padding: 0;
    margin: 0;
    user-select: none;
}

.root{
    height: auto;
    width: 100%;
    background-color: #FFEF82;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}