
.description-container{
    overflow: hidden; /* Hide scrollbars */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0em 1em 1em 1em;

        svg{
            font-size: 4vw;
            color: #fefb1f;
            animation: mymove 0.3 infinite;
            
            @keyframes mymove {
                from {top: 0px;}
                to {top: 200px;}
              }
        }

    
        .description{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            .img_profile_container{
                border-radius: 10em;
                overflow: hidden;
    
    
                img{
                    height: 100%;
    
                    &:hover{
                        cursor: pointer;
    
                    }
                }
                
            }

            .navabout{
                button{
                    width: 100%;
                }
            }

            ul{
                margin: 2em;
                display: flex;
                flex-direction: column;
                li{
                    text-decoration: none;
                    list-style: none;
                    margin: 1em;
                    font-size: 1.5vw;
                }
            }
        }


        .about-section{
            margin-top: 2em;
            padding: 2em;
            h2{
                font-size: 6vw;
                margin-bottom: 0.5em;
            }
            ul{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                li{
                    margin: 1em;
                }
            }
        }   
    }
}
