
.home-container{
    background-color: #58b368;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Hide scrollbars */
    flex-direction: column;


    .home_nav{
        margin-top: 3em;
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .img_profile_container{
            border-radius: 10em;
            overflow: hidden;
    
            img{
                width: 20vw;
                height: 100%;

                &:hover{
                    cursor: pointer;

                }
            }
            
        }

        .home{
            width: 40%;
            display: flex;
            justify-content: center;
            flex-direction: column;

           
        }
        
    }
   
}

