.navbar{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    width: 70%;

    button{
        margin: 2em 1em 1em 1em;
        font-size: 2vw;
        padding: 0.5em;
        cursor: pointer;
    }
}