.proyects-container{
    width: 100%;
    min-height: 81.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    div{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,auto);
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1em;

        .card-container{
            margin: 1em;
        }

    }
}